html {
  scroll-behavior: smooth;
}
body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  padding: 5px 15%;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
  padding: 1em;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background: #495e57;
  border-radius: 2px;
  height: 3px;
  margin: 2px 0;
  width: 25px;
}

.nav-links {
  display: flex;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-size: 12pt;
  font-weight: 550;
}
nav ul li a {
  color: #495e57;
}

/*header-section*/
.header {
  background-color: #edefee;
  display: flex;
  flex-direction: column;
  }
.header section {
  background-color: #495e57;
  color: #edefee;
  padding: 0 15%;
  position: relative;
  height: auto;  
}
h2 {
  color: #f4ce14;
  font-size: 40px;
  font-family: "Markazi", serif;
}
h3 {
  font-size: 25px;
  font-family: "Markazi", serif;
}
.banner {
  margin-top: 100px;
  margin-bottom: 100px; 
}
.banner p {
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 50px;
}
button {
  padding: 12px 14px;
  color: #495e57;
  background-color: #f4ce14;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.banner-image {
  position: absolute;
  right: 15%;
  top: 20%;
}
.banner-image img {
  width: 350px;
  height: 450px;
  border-radius: 12px;
}
/*menu-section*/

.menu-container {
  background-color: #edefee;
  justify-content: center;
  padding: 100px 15%;
  /* margin: 50px auto; */
  /* height: 100vh; */
}

.menu-container h2 {
  display: block;
  color: #495e57;
}
.menu-items {
    /* height: 450px; */
  width: 350px;
  background: #edefee;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu-container img {
  width: 100%;
  height: 233px;
  border-radius: 12px;
}
.menu-content {
  padding: 5px 15px;
  color: #495e57;
  height: 220px;
}
.menu-content .heading {
  display: flex;
  justify-content: space-between;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 5rem;
}
.order-btn {
  padding: 5px 12px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
}
.menu-container p {
  max-height: 60px;
}
/*order-section*/


.order-container {
  background-color: #edefee;
  justify-content: center;
  padding: 100px 15%;
    /* margin: 50px auto; */
  /* height: 100vh; */
}



.order-container h2 {
  display: block;
  width: 100%;
  color: #495e57;
  
 
}
.menu-items {
  /* height: 450px; */
  width: 350px;
  background: #edefee;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.order-container img {
  width: 100%;
  height: 233px;
  border-radius: 12px;
}
.menu-content {
  padding: 5px 15px;
  color: #495e57;
  height: 220px;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 5rem;
}
.order-btn {
  padding: 5px 12px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
}
.order-container p {
  max-height: 60px;
}
/* about-section */
#about.about-section {
  background-color: #edefee;
  display: flex; 
  padding: 0 15% 50px;
  justify-content: space-between;
  align-items: flex-start; 
  flex-wrap: wrap; 
}
.about-txt {
  color: #495e57;
  max-width: 60vh;
  flex: 1;
}
.about-section p {
  /* width: 80vh; */
  margin-bottom: 50px;
}
.about-img {
  padding-top: 120px;
  position: relative; 
  display: flex;
  align-items: flex-start;
  flex: 1; 
  justify-content: flex-end; 
}
.about-img img {
  max-width: 40vh;
  height: auto;
  border-radius: 12px;
}
.about-img img {
  position: relative;
  z-index: 1;
}
.img2 {
  position: absolute; 
  right: 20%; 
  top: 50%;
  z-index: 2;
}
/*footer-section*/
.component-wrapper footer section {
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
  align-items: top, center;
  flex-wrap: wrap;
}
footer section h4 {
  color: #495e57;
}
footer section a {
color: #495e57;
}
/*booking-section*/

form {
  background-color: #edefee;
  padding: 50px 0;
  display: flex;
  justify-content: center;  
}
.bookForm {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  margin: 65px;
  border: none;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bookForm div {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.bookForm label {
  flex: 1;
  margin-right: 10px;
}
.bookForm input,
.bookForm select {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btnForm input {
  padding: 12px 14px;
  margin-top: 20px;
  color: #495e57;
  background: #f4ce14;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
input,
label {
  margin-bottom: 30px;
}
#book-date,
#book-time,
#book-guests,
#book-occasion {
  background: #bdbdbd43;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  width: 100%;
}
.confirmed {
  margin-top: 30px;
  padding: 5px 15%;
}
.confirmed h1 {
  color: #495e57;
  text-align: center;
}
.booking-img img {
  display: block;
  width: 50%;
  border-radius: 12px;
  margin: 0 auto;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.component-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* underconstruction-section */
.underconstruction {
  background-color: #edefee;
  display: flex;
  padding: 0 15% 100px;
  /* height: 100vh; */
  justify-content: center;  
  }
.underconstruction h2 {
  color: #495e57;
  font-size: 40px;
  font-family: "Markazi", serif;
  display: flex;
  justify-content: center;
}
.banner-uc-image img {
  width: 600px;
  height: 350px;
  border-radius: 12px;
  margin-bottom: 30px;
}

@media (max-width: 1842px) {

 
nav {
  display: flex;
  padding: 5px 12%;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
  padding: 1em;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background: #495e57;
  border-radius: 2px;
  height: 3px;
  margin: 2px 0;
  width: 25px;
}

.nav-links {
  display: flex;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-size: 12pt;
  font-weight: 550;
}
nav ul li a {
  color: #495e57;
}


/*header-section*/
.header {
  background-color: #edefee;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* justify-content: center; */
  
  

}
.header section {
  background-color: #495e57;
  color: #edefee;
  padding: 0 12%;
  position: relative;
  height: auto;
  

  
}
h2 {
  color: #f4ce14;
  font-size: 40px;
  font-family: "Markazi", serif;
}
h3 {
  font-size: 25px;
  font-family: "Markazi", serif;
}
.banner {
  margin-top: 100px;
  margin-bottom: 100px;
 
}


.banner p {
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 50px;
}
button {
  padding: 12px 14px;
  color: #495e57;
  background-color: #f4ce14;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.banner-image {
  position: absolute;
  right: 12%;
  top: 25%;
}
.banner-image img {
  width: 300px;
  height: 400px;
  border-radius: 12px;
}

/*menu-section*/

.menu-container {
  background-color: #edefee;
  justify-content: center;
  padding: 50px 12%;
 
  /* margin: 50px auto; */
  /* height: 100vh; */
}

.menu-container h2 {
  display: block;
  color: #495e57;
}
.menu-items {
    /* height: 450px; */
  width: 350px;
  background: #edefee;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu-container img {
  width: 100%;
  height: 233px;
  border-radius: 12px;
}
.menu-content {
  padding: 5px 15px;
  color: #495e57;
  height: 220px;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.cards > * {
  flex: 1 1 calc(33.333% - 5rem); 
  box-sizing: border-box; 
}

.order-btn {
  padding: 5px 12px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
}
.menu-container p {
  max-height: 65px;
}
/*order-section*/

.order-container {
  background-color: #edefee;
  justify-content: center;
  padding: 50px 12%;
  /* margin: 50px auto; */
  /* height: 100vh; */
}

.order-container h2 {
  display: block;
  width: 100%;
  color: #495e57;
}
.menu-items {
  /* height: 450px; */
  width: 350px;
  background: #edefee;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.order-container img {
  width: 100%;
  height: 233px;
  border-radius: 12px;
}
.menu-content {
  padding: 5px 15px;
  color: #495e57;
  height: 220px;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  
}
.cards > * {
  flex: 1 1 calc(33.333% - 5rem); 
  box-sizing: border-box; 
}
/* .cards > * {
  flex: 1 1 calc(33.333% - 4rem); 
  box-sizing: border-box; 
} */
.order-btn {
  padding: 5px 12px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
}
.order-container p {
  max-height: 65px;
}
/* about-section */
#about.about-section {
  background-color: #edefee;
  display: flex; 
  padding: 0 12% 50px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-txt {
  color: #495e57;
  max-width: 60vh;
  flex: 1;
}

.about-section p {
 
  margin-bottom: 50px;
}

.about-img {
  padding-top: 180px;
  position: relative;
  display: flex;
  align-items: flex-start; 
  flex: 1; 
  justify-content: flex-end;
}

.about-img img {
  max-width: 37vh;
  height: auto;
  border-radius: 12px;
}

.about-img img {
  position: relative;
  z-index: 1;
}

.img2 {
  position: absolute;
  right: 17%; 
  top: 65%;
  z-index: 2;
}
/*footer-section*/
.component-wrapper footer section {
  padding: 10px 12%;
  display: flex;
  justify-content: space-between;
  align-items: top, center;
  flex-wrap: wrap;
}
footer section h4 {
  color: #495e57;
}
footer section a {
color: #495e57;
}
/*booking-section*/

form {
  background-color: #edefee;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.bookForm {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border: none;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bookForm div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookForm label {
  flex: 1;
  margin-right: 10px;
}
.bookForm input,
.bookForm select {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btnForm input {
  padding: 12px 14px;
  margin-top: 20px;
  color: #495e57;
  background: #f4ce14;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
input,
label {
  margin-bottom: 20px;
}
#book-date,
#book-time,
#book-guests,
#book-occasion {
  background: #bdbdbd43;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  width: 100%;
}

.confirmed {
  margin-top: 30px;
  padding: 5px 15%;
}
.confirmed h1 {
  color: #495e57;
  text-align: center;
}

.booking-img img {
  display: block;
  width: 50%;
  border-radius: 12px;
  margin: 0 auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.component-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* underconstruction-section */

.underconstruction {
  background-color: #edefee;
  display: flex;
  padding: 0 15% 100px;
  /* height: 100vh; */
  justify-content: center;
  
  }

.underconstruction h2 {
  color: #495e57;
  font-size: 40px;
  font-family: "Markazi", serif;
  display: flex;
  justify-content: center;
}

.banner-uc-image img {
  width: 600px;
  height: 350px;
  border-radius: 12px;
  margin-bottom: 30px;
}
}

@media (max-width: 1055px) {
 


  nav {
    display: flex;
    padding: 5px 7%;
    justify-content: space-between;
    align-items: center;
    
  }
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    
    background: #edefee;
    width: auto;
    padding: 1rem;
  }

  nav ul li {
    display: block;
    padding: 0.5em 0;
  }
  .header {
    background-color: #edefee;
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    /* height: 100vh; */
    
  }
  .header section {
    background-color: #495e57;
    color: #edefee;
    padding: 5px 7%;
    position: static;
    height: auto;
    margin-bottom: 30px;
    
    
       
  }
  h2 {
    color: #f4ce14;
    font-size: 30px;
    font-family: "Markazi", serif;
  }
  h3 {
    font-size: 25px;
    font-family: "Markazi", serif;
    
  }
  .banner {
    
    margin-top: 20px;
    margin-bottom: 40px;
    
  }
  
  button {
    padding: 8px 10px;
    color: #495e57;
    background-color: #f2ce14;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .banner p {
    font-size: 20px;
    max-width: auto;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .banner-image {
    display: none;  
    /* position: absolute;
    right: 7%;
    top: 15%; */
    /* right: 7%;
    top: 10%; */
  }
  .banner-image img {
    /* display:  none; */
    width: auto;
    height: 30vh;
    
    border-radius: 12px;
  }
  /*menu-section*/

.menu-container {
  background-color: #edefee;
  justify-content: center;
  padding: 15px 7% 10px;
  /* margin: 50px auto; */
  /* height: 100vh; */
}
.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}


/*order-section*/

.order-container {
  background-color: #edefee;
  justify-content: center;
  padding: 5px 7% 30px;
  
  /* margin: 50px auto; */
  /* height: 100vh; */
}
/* about-section*/
#about.about-section {
  background-color: #edefee;
  display: flex; 
  flex-direction: column; 
  padding: 5px 7%;
 
}
.about-section p{
  max-width: 100%;
  margin-bottom: 0;
}
.about-txt {
  color: #495e57;
  max-width: 100vh; 
     
}
.about-img {
 display: flex;
 justify-content: flex-start;
 padding-top: 20px;
margin-bottom: 30px;
}
.about-img img {  
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  
  /* margin-top: 5px;   */
  }
.img2 {
  display: none;
 
} 
/*footer-section*/
.component-wrapper footer section {
  padding: 5px 7%;
  display: flex;
  justify-content: space-between;
  align-items: top, center;
  flex-wrap: wrap;
  
}
.footer-links2 ul{
 margin: 0;
 padding: 0;
}
.footer-img{
  margin-top: 25px;;
}
footer section h4 {
  color: #495e57;
}
/* underconstruction-section */

.underconstruction {
  background-color: #edefee;
  display: flex;
  padding: 5px 7% 40px;
  /* height: 100vh; */
  justify-content: center;
  
  }

.underconstruction h2 {
  color: #495e57;
  font-size: 30px;
  font-family: "Markazi", serif;
  display: flex;
  justify-content: center;
  padding: 20px 0 30px 0;
}

.banner-uc-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 30px;
}
}


@media (max-width: 872px) {

  nav {
    display: flex;
    padding: 5px 7%;
    justify-content: space-between;
    align-items: center;
    
  }
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    
    background: #edefee;
    width: auto;
    padding: 1rem;
  }

  nav ul li {
    display: block;
    padding: 0.5em 0;
  }
  .header {
    background-color: #edefee;
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    /* height: 100vh; */
    
  }
  .header section {
    background-color: #495e57;
    color: #edefee;
    padding: 5px 7%;
    position: static;
    height: auto;
    
    
       
  }
  h2 {
    color: #f4ce14;
    font-size: 30px;
    font-family: "Markazi", serif;
  }
  h3 {
    font-size: 25px;
    font-family: "Markazi", serif;
    
  }
  .banner {
    
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  button {
    padding: 8px 10px;
    color: #495e57;
    background-color: #f2ce14;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .banner p {
    font-size: 20px;
    max-width: auto;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .banner-image {
      
    position: absolute;
    right: 5%;
    top: 10%;
    /* right: 7%;
    top: 10%; */
  }
  .banner-image img {
    display:  none;
    /* width: auto;
    height: 16vh;
    border-radius: 12px; */
  }
  /*menu-section*/

.menu-container {
  background-color: #edefee;
  justify-content: center;
  padding: 5px 7%;
}
  .cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 1rem;
  }
  .cards > * {
    flex: 1 1 0 ; 
    box-sizing: border-box; 
  }


/*order-section*/

#order.order-container {
  background-color: #edefee;
  justify-content: center;
  padding: 5px 5% 30px;
  
  /* margin: 50px auto; */
  /* height: 100vh; */
}
.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 0.5rem;
}
/* .cards > * {
  flex: 1 1 calc(100% - 1rem); 
  box-sizing: border-box; 
} */


/*about-section*/
/* .about-section {
  background-color: #edefee;
  display: flex; 
  flex-direction: column; 
  padding: 5px 7%;
  }

.about-txt {
  color: #495e57;  
}

.about-img img {
  
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;  
  }
.img2 {
  display: none;
  } */
/*footer-section*/
.footer section {
  padding: 5px 7%;
  display: flex;
  justify-content: space-between;
  align-items: top, center;
  flex-wrap: wrap;
  
}
.footer-links2 ul{
 margin: 0;
 padding: 0;
}
.footer-img{
  margin-top: 25px;;
}
footer section h4 {
  color: #495e57;
}
/* underconstruction-section */

.underconstruction {
  background-color: #edefee;
  display: flex;
  padding: 5px 7% 40px;
  /* height: 100vh; */
  justify-content: center;
  
  }

.underconstruction h2 {
  color: #495e57;
  font-size: 30px;
  font-family: "Markazi", serif;
  display: flex;
  justify-content: center;
  padding: 20px 0 30px 0;
}

.banner-uc-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 30px;
}
}
@media (max-width: 600px) {

  nav {
    display: flex;
    padding: 5px 5%;
    justify-content: space-between;
    align-items: center;
    
  }
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    
    background: #edefee;
    width: auto;
    padding: 1rem;
  }

  nav ul li {
    display: block;
    padding: 0.5em 0;
  }
  .header {
    background-color: #edefee;
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    /* height: 100vh; */
    
  }
  .header section {
    background-color: #495e57;
    color: #edefee;
    padding: 5px 5%;
    position: static;
    height: auto;
    
    
       
  }
  h2 {
    color: #f4ce14;
    font-size: 30px;
    font-family: "Markazi", serif;
  }
  h3 {
    font-size: 25px;
    font-family: "Markazi", serif;
    
  }
  .banner {
    
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  button {
    padding: 8px 10px;
    color: #495e57;
    background-color: #f2ce14;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .banner p {
    font-size: 20px;
    max-width: auto;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .banner-image {
      
    position: absolute;
    right: 5%;
    top: 10%;
    /* right: 7%;
    top: 10%; */
  }
  .banner-image img {
    display:  none;
    /* width: auto;
    height: 16vh;
    border-radius: 12px; */
  }
  /*menu-section*/

.menu-container {
  background-color: #edefee;
  justify-content: center;
  padding: 5px 5%;

  }
  .cards {
    width: auto;
    padding: 0 5%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .cards > * {
    flex: 1 1 calc(100% - 1rem); 
    box-sizing: border-box; 
  }

/*order-section*/

.order-container {
  background-color: #edefee;
  justify-content: center;
  padding: 5px 5% 30px;
  
  /* margin: 50px auto; */
  /* height: 100vh; */
}
/* .cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
} */

/*about-section*/
.about-section {
  background-color: #edefee;
  display: flex; 
  flex-direction: column; 
  padding: 5px 5%;
  
  /* justify-content: space-between; */
  /* align-items: center; */
}

.about-txt {
  color: #495e57;
  
  
}


/* .about-img{
 display: flex;
 justify-content: center;
} */
.about-img img {
  
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  
  
  }
.img2 {
  display: none;
  /* position: relative;
  right: 50%;
  top: -20%; */
}
/*footer-section*/
.component-wrapper footer section {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: top, center;
  flex-wrap: wrap;
  
}
.footer-links2 ul{
 margin: 0;
 padding: 7px;
}
.footer-links1 a, .footer-links2 a, .footer-links3 a{
  color: #495e57;
  margin: 10px 20px 0;
}
.footer-img{
  margin-top: 25px;;
}
footer section h4 {
  color: #495e57;
}
/* underconstruction-section */

.underconstruction {
  background-color: #edefee;
  display: flex;
  padding: 5px 5% 40px;
  /* height: 100vh; */
  justify-content: center;
  
  }

.underconstruction h2 {
  color: #495e57;
  font-size: 30px;
  font-family: "Markazi", serif;
  display: flex;
  justify-content: center;
  padding: 20px 0 30px 0;
}

.banner-uc-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 30px;
}

}
